@{
	Layout = "_Layout2";
}
@model CreateBookForClientModel


@section Head {
	<script>
		 function GetBookTable(){

			let tblElement = document.getElementById("bookTable").getElementsByTagName('tbody')[0];
			let zalId = document.getElementById("zal").value;

			//очищаем список
			tblElement.innerHTML = "";

			if(zalId == -1) 
			{
				return;
			}

			const url = "/data/GetBookForSpace?spaceId=" + zalId;
			

			fetch(url)
			.then(response => response.json())
			.then(result => {
				console.log(result);
				
				if(result.success) {
					const h = TblInHtml(result.bookItems);
					console.log(h);
					tblElement.innerHTML = h;
					
				}


			})
			.catch(error => console.log(error));
			
		}



		function TblInHtml(data){
			let result = '';

			data.forEach(item => {
				result += "<tr>";
				result += "<td>" + item['id'] + "</td>";
				result += "<td>" + item[1] + "</td>";
				result += "<td>" + item[2] + "</td>";
				result += "<td>" + item[3] + "</td>";
				result += "</tr>"
			});

			return result;
		}


	</script>


}
<!--
= загружаем бронирования на ближайшие 2 недели 

-->


<div class="card">
	<div class="card-body">
		<h4 class="card-title">Создать бронирование</h4>



		<div class="row">
			<div class="col-2"></div>

			<div class="col-8">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>Дата</td>
							<td>Зал</td>
							<td>Начало брони</td>
							<td>Конец брони</td>
							<td>День недели</td>
						</tr>
					</thead>
					<tbody>
						@foreach(var item in Model.BookItems)
						{
							<tr>
								<td>@item.DtBegin.Day-@item.DtBegin.GetMonthInRus()</td>
								<td>@item.SpaceName</td>
								<td>@item.DtBegin.ToString("HH:mm")</td>
								<td>@item.DtEnd.ToString("HH:mm")</td>
								
								@{
									var st1 = "";
									if (@item.DtEnd.ToString("dddd") == "воскресенье" || @item.DtEnd.ToString("dddd") == "суббота")
									{
										st1 = "bg-danger bg-opacity-25";
									}

								}
								<td class="@st1">@item.DtEnd.ToString("dddd")</td>
							</tr>
						}
					</tbody>
				</table>


			</div>

			<div class="col-2"></div>
		</div>
		<br/>



		<form method="post" action='@Url.Action("CreateBookForClientResult", "Home")'>


			<div class="row">
				<div class="col-3"></div>

				<div class="col-6">


					<div class="mb-3">
						<label for="formGroupExampleInput2" class="form-label">Зал</label>
						<select id="zal" name="zalId" class="form-select" onchange="GetBookTable()">
							@{
								<option value="-1" selected>Выберите зал из списка</option>
								foreach (var s in Model.Spaces)
								{
									<option value='@s.Id'>@s.SpaceName</option>
								}
							}

						</select>
					</div>

					<div class="mb-3">
						<label for="formGroupExampleInput" class="form-label">Дата начала бронирования</label>
					</div>
					<div class="mb-3 row">
						<div class="col-6">
							<input name="begin" type="date" class="form-control" id="formGroupExampleInput" placeholder="">
						</div>
						<div class="col-6">
							<select name="begintime" class="form-select">
								<option value="15">15:00</option>
								<option value="16">16:00</option>
								<option value="17">17:00</option>
								<option value="18">18:00</option>
								<option value="19">19:00</option>
								<option value="20">20:00</option>
								<option value="21">21:00</option>
								<option value="22">22:00</option>
							</select>
						</div>
					</div>

					<div class="mb-3">
						<label for="Input3" class="form-label">Время окончания бронирования</label>
					</div>

					<div class="mb-3 row">
						<div class="col-6">
							<input name="end" type="date" class="form-control" id="Input3" placeholder="">
						</div>
						<div class="col-6">
							<select name="endtime" class="form-select">
								<option value="15">15:00</option>
								<option value="16">16:00</option>
								<option value="17">17:00</option>
								<option value="18">18:00</option>
								<option value="19">19:00</option>
								<option value="20">20:00</option>
								<option value="21">21:00</option>
								<option value="22">22:00</option>
								<option value="23">23:00</option>
							</select>
						</div>
					</div>

					<div style="text-align:right">
						<button type="submit" class="btn btn-primary">Создать</button>
					</div>
				</div>
				<div class="col-3"></div>
				
			</div>

			<div>
				<h6>Выберите зал, тут будут отображаться ближайшие брони этого зала</h6>
				<table id="bookTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>Дата начала бронирования</td>
							<td>Время окончания бронирования</td>
							<td>Длительность</td>
						</tr>
					</thead>
					<tbody >
						
					</tbody>
				</table>
			</div>

			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<h6>Правила бронирования</h6>
					+ Забронировать можно зал можно только в период работы караоке: c 10.00 до 0.00
					<br/>
					+ Максимальный период бронирования - 5 часов
					<br/>
					+ Нельзя забронировать время которое пересекается с чужой бронью
					<br/>
					+ Нельзя забронировать зал более чем за 2 недели до мероприятия 
				</div>

			</div>

		</form>

	</div>
</div>

