
@{
    Layout = "_Layout2";
}

@model HomeForManagerModel

<div class="card">
	<div class="card-body">
        <h4 class="card-title">Личный кабинет менеджера</h4>


		<form>
			<div class="row" style="text-align:right">
				<a href=""></a>
			</div>
			
			<div style="text-align:right">
				<a href='@Url.Action("CreateItemForManager", "Home")' class="btn btn-primary">Создать бронирование</a>
			</div>

			<div class="row">
				<br />
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>
								<select class="form-control">
									<option>май</option>
									@{

									}
								</select>
							</td>
							<td>
								<select class="form-control">
									@{
										for (int i = 1; i <= 31; i++)
										{
											<option value="@i">@i</option>
										}
									}

								</select>
							</td>

							<td>
								<select class="form-control">
									<option>Зал 3</option>
									<option>Зал 4</option>
								</select>
							</td>

						</tr>
					</thead>
				</table>
				<div style="text-align:right">
					<button type="submit" class="btn btn-primary">Показать</button>
				</div>

				<br />
				<br />
				<!--Таблица результатов-->
				<h4>Текущие брони</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>id</td>
							<td>Месяц</td>
							<td>Дата</td>
							<td>Номер телефона</td>
							<td>Имя клиента</td>
							<td>Зал</td>
							<td>Время начала</td>
							<td>Время окончания</td>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model.Bookings)
							{

								var currentClient = Model.Users.FirstOrDefault(u => u.Id == item.ClientId);

								<tr>
									<td>@item.Id</td>
									<td>@item.DtBegin.Month</td>
									<td>@item.DtBegin.Day</td>
									<td>
										@currentClient?.Phone
									</td>
									<td>
										@currentClient?.Username
									</td>
									<td>@item.SpaceName</td>
									<td>@item.DtBegin.ToString("yyyy-MM-dd_HH:mm")</td>
									<td>@item.DtEnd.ToString("yyyy-MM-dd_HH:mm")</td>
								</tr>
							}
						}
					</tbody>
				</table>


			</div>


		</form>

	</div>
</div>

