@{
    Layout = "_Layout2";
}

@model HomeForClientModel


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Личный кабинет клиента</h4>

		
			<div class="row" style="text-align:right">
				<a href=""></a>
			</div>

			<div style="text-align:right">
			<a href='@Url.Action("CreateBookForClient", "Home")' class="btn btn-primary"><i class="bi bi-plus-square"></i> Создать бронирование</a>
			</div>

			<br />
			<br />
			<br />
			<div class="row">
				<!--div style="text-align:right">
					<button type="submit" class="btn btn-primary">Обновить таблицу</button>
				</div-->

				<br />
				<br />
				<!--Таблица результатов-->
				<h4 class="alert alert-primary">Текущие брони</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>id</td>
							<td>Зал</td>
							<td>Время начала</td>
							<td>Время окончания</td>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model.FutureBookings)
							{
								<tr>
									<td>@item.Id</td>
									<td>@item.SpaceName</td>
									<td>@item.DtBegin.ToString("yyyy-MM-dd_HH:mm")</td>
									<td>@item.DtEnd.ToString("yyyy-MM-dd_HH:mm")</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>



		<br />
		<br />
		<br />
		<div class="row">
			<!-- div style="text-align:right">
				<button type="submit" class="btn btn-primary">Обновить таблицу</button>
			</div-->

			<br />
			<br />
			<!--Таблица результатов-->
			<h4 class="alert alert-primary" >Прошедшие брони</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>id</td>
						<td>Зал</td>
						<td>Время начала</td>
						<td>Время окончания</td>
					</tr>
				</thead>
				<tbody>
					@{
						foreach (var item in Model.PastBookings)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.SpaceName</td>
								<td>@item.DtBegin.ToString("yyyy-MM-dd_HH:mm")</td>
								<td>@item.DtEnd.ToString("yyyy-MM-dd_HH:mm")</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		

		<br />
		<br />
		<br />
		<br />
	</div>
</div>
